@font-face {
  font-family: headerFont;
  src: url(/Thundergood.ttf);
}

.brand {
	font-family: headerFont;
	font-size: 35px;
	color: darkorange !important
}

.dropdown-toggle {
	font-weight: bold
}

.menu {
	font-family: 'Cinzel', serif;
	background-color: #fff7d2 !important	
}

.alert {
	position: absolute;
	right: 125px;
}